body {
  background-color: #23303B;
  font-family: Verdana;
  overflow: hidden;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.first_two_sort {
  display: inline;
}

.second_two_sort {
  display: inline;
}

.sort_button {
  font-size: 16px;
  margin-top: 16px;
  margin-left: 6px;
  padding: 14px;
  background-color: #385D84;
  color: #F2F2F2;
  border: none;
  border-radius: 5px;
  transition: .4s;
}

.sort_button:focus {
  outline: none;
}

.sort_button:hover {
  background: #AED3F2;
  color: #23303B;
  cursor: pointer;
}

.select-box {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 14px;
  display: flex;
  width: 250px;
  height: 150px;
  flex-direction: column;
}

.select-box .options-container {
  background: #385D84;
  color: #F2F2F2;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #385D84;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #F2F2F2;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url(image/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 125px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #23303B;
  border-radius: 0 px 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  border-radius: 0 px 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #AED3F2;
  color: #23303B;
  transition: .4s;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.color_info {
  display: inline;
  font-size: 12px;
  color: #F2F2F2;
  position: relative;
}

.unsorted_color {
  background-color: #E77557;
  pointer-events: none;
  border: none;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.sorted_color {
  background-color: #AED3F2;
  pointer-events: none;
  border: none;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.compare_color {
  background-color: #F2F2F2;
  pointer-events: none;
  border: none;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.generate_button {
  position: relative;
  margin-top: 10px;
  font-size: 18px;
  width: 250px;
  height: 50px;
  background: none;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  transition: .4s;
  overflow: hidden;
}

.generate_button:focus {
  outline: none;
}

.generate_button:hover {
  background: #F2F2F2;
  color: #385D84;
  cursor: pointer;
}

@media only screen 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
      overflow: scroll;
    }

    .first_two_sort {
      float: left;
      margin-left: 20px;
      margin-top: 10px;
    }

    .second_two_sort {
      float: right;
      margin-right: 20px;
      margin-top: 10px;
    }

    .sort_button {
      font-size: 18px;
      padding: 14px;
    }

    .color_info {
      font-size: 16px;
      margin-left: 15px;
      margin-top: 10px;
      display: inline-block;
    }

    .generate_button {
      margin-top: 30px;
      margin-left: 35px;
    }

    .select-box {
      position: relative;
      float: right;
      margin-right: 20px;
      margin-top: 20px;
    }
}